body {
    font-family: Arial, sans-serif;
    color: #5a5757;
    margin: 1.25em;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    font-size: 1em;
}

.search-container {
    text-align: center;
    background-color: #134984;
    padding: 1em;
}

.search-container h1 {
    color: white;
    font-size: 2.2em;
    margin: 0;
}

.main-content {
    position: relative;
    display: flex; 
    flex: 1; 
    overflow: auto;
}

.source-info {
    position: absolute;
    top: 0.7em;   
    right: 0.7em; 
    font-size: 1.1em; 
    color: #6b6b6b;
    padding: 0.3em;
}

.left-panel {
    flex: 1; 
    max-width: 25%; 
    padding: 1em;
    background-color: #ffffff;
    overflow-y: auto;
    border-right: 0.0625em solid #ccc;
    height: 100%;
}

.right-panel {
    flex: 3; 
    padding: 1em;
    margin-left: 1em;
    margin-top: 2.75em;
    overflow-y: auto;
    background-color: transparent;
    border: 0.0625em solid #ccc;
    border-radius: 0.35em; 
}

.filter-box {
    margin: 1.25em 0; 
    padding: 0.625em;
    border: 0.0625em solid #ddd;
    border-radius: 0.3125em; 
    background-color: #f8f9fa;
}

.filter-box-type2 {  
    height: auto;
    position: relative;
    margin: 1.25em 0; 
    padding: 0.625em;
    border: 0.0625em solid #ddd;
    border-radius: 0.3125em; 
    background-color: #f8f9fa;
    padding-bottom: 1em;
}

.view-more-button {
    position: absolute; 
    bottom: 0em; 
    right: 0.5em; 
    cursor: pointer;
    background-color: transparent;
    color: #273543;
    border: none;
}

.filter-title {
    font-size: 1.25em; 
    font-weight: bold;
    margin-bottom: 0.625em; 
    display: flex;
}

.slider-container {
    display: flex;
    align-items: center;
}

#reviewnum {
    width: 80%; 
    margin-right: 0.625em;
    color: #6193c9;
    margin-bottom: 2em;
}

.star-rating {
    display: flex;
    cursor: pointer;
    justify-content: center; 
    align-items: center;
    flex: 1; 
}

.star {
    font-size: 1.25em; 
    margin: 0.1em;
    justify-content: center; 
    align-items: center;
    color: lightgray;
}

.star:hover {
    color: gold;
}

.star.selected {
    color: gold;
}

.star.rated {
    color: #ffcc00;
    font-size: 1em; 
}

.filter-title-star {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-bottom: 0.625em; 
}

.table-options label {
    display: block; 
    margin: 0.3125em 0; 
    font-size: 1em;
}

.filter-btn {
    width: 80%;
    font-size: 1.25em; 
    font-weight: 400;
    margin-left: 1em;
    margin-bottom: 0.8em; 
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="checkbox"] {
    width: 1.3em;  
    height: 1.3em; 
    transform: scale(1.3); 
    margin-right: 0.5em;
}

.hidden {
    display: none;
}

.filter-options label {
    display: inline-block;
    margin-right: 0.625em;
    margin-bottom: 0.3125em;
    font-size: 1em;
    width: 45%; 
}

.custom-text {
    font-size: 1.5em;; 
    color: darkblue; 
    white-space: nowrap; 
    text-align: center; 
    background-color: transparent;
    padding: 0.3125em;
    box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.5); 
}

.search-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.25em;
}

.search-button {
    background-color: #134984; 
    color: white;
    border: none;
    padding:  0.625em 1.25em;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.3125em;
}

.search-button:hover {
    background-color: #0b3a68;
}

.search-button.gray-button {
    background-color: #a9a9a9 !important; 
    color: white !important;
}
